<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h2>로그인창</h2>
    아이디<input type="text" id="id" /> 패스워드<input type="text" id="pw" />
    <button onclick="loginBtn()">login</button><br />
    <button onclick="findPw()">비밀번호 찾기</button>
  </body>
  <script>
    // 로그인 버튼을 눌렀을 때
    function loginBtn() {
      $.ajax({
        url: "/login",
        type: "post",
        data: {
          id: id.value,
          pw: pw.value,
        },
        success: (data) => {
          switch (data) {
            case "suc":
              alert("로그인 성공");
              break;
            case "fail":
              alert("id 또는 패스워드 확인 요망");
              break;
            default:
              break;
          }
        },
      });
    }

    // 비밀번호 찾기 버튼을 눌렀을 때
    function findPw() {
      $.ajax({
        url: "/findPw",
        type: "post",
        data: {
          email: email.value,
        },
        success: (data) => {
          switch (email) {
            case value:
              break;

            default:
              break;
          }
        },
      });
    }
  </script>
</html>
